/* -----------------------
         Google Font 
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* ----------------------
    Common Useful Component 
-------------------------*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin:0 auto;
}
/* ----------------
       Top header 
-------------------- */
.top-header{
    height: 90vh;
    background-color: #2D25A0;
}
.top-header .container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.top-header-text{
    margin-top: 200px; 
    color:#fff
} 
.top-header-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height:80px;
}
button{
    background-color: #E02C6D;
    border:none;
    color:#fff;
    padding:10px 24px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    transition:1s;
}
button:hover{
    background-color: #fff;
    color:#E02C6D; 
}
.fa-arrow-right{
    padding-left: 5px;
}
button:hover .fa-arrow-right{
    padding-left: 13px;
    transform: scale(1.3);
    transition:1s; 
}
.top-header-image img{
    width: 100%;
    margin-top: 100px;
}
/* --------------------------
          main section
------------------------------ */
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
.main-players-section{
     padding:40px 0; 
}
.single-player{
    margin-top: 30px;
    box-shadow: 0 3px 25px #ddd;
    padding:15px;
    border-radius:5px;
}
.single-player h2{
    font-size: 28px;
    font-weight: 700;
    margin:16px 0;
}
.single-player p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    color:#6C6C6C;
}
.single-player img{
    width: 100%;
}
/* ------------------------
    coach section
--------------------------- */
.coach-section{
    padding:50px 0;
    background: url(../images/bg/chefs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.coaches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    border-radius: 5px;
   
}
.section-title{
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    margin-bottom: 10px;
    font-size: 35px;
}
.single-coach{
    box-shadow: 0 5px 18px #ddd;
    background:#fff;
    padding: 15px;
    text-align: center;
    border-left:5px solid;
    border-image: linear-gradient(#E02C6D,#2D25A0);
    border-image-slice: 30;
} 
.single-coach img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:5px solid #E02C6D;
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;  
}
.single-coach h3{
    margin-bottom: 10px;
}
.single-coach span{
    font-style: italic;
}
/* ------------------------
   blog-section
--------------------------- */
.blog-section{
    padding:60px 0;
    background: url(../images/bg/frame59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.single-blog{ 
    background:#fff; 
    box-shadow: 0 5px 20px #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.blog-img img{
    width: 90%;
    height: 300px;
    display: inline-block;
    padding: 20px;
    border-radius:30px;
}
.blog-content{
    margin-left: 10px;
    padding: 15px;
}
.blog-content span{
    margin-bottom: 10px;
    display: block;
    color:#6C6C6C
}
.blog-content h3{
    margin-bottom: 15px;
    font-size: 18px;
}
.blog-content p{
    color:#4a4d55;
    line-height: 26px;
}



/* ------------------------
    footer-items
--------------------------- */
.footer-items{
    text-align: center;
    padding:40px 0;
}
.footer-items img{
    width: 40%; 
}
.social-icon{
    margin:20px 0;
}
.social-icon a{
    color:#969BAB;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #ddd;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}
.social-icon a:hover{
    background-color: #E02C6D;
    color:#fff;
}
.footer-items p{
    color:#6C6C6C;
}



/* ------------------------
          Media Query
--------------------------- */
@media only screen and (max-width:592px) {
    .top-header{
      height: auto;  
    }
    .top-header .container{ 
        grid-template-columns: repeat(1,1fr);
    }
    .top-header-text{
        margin-top: 40px;  
    } 
    .top-header-image img{ 
        margin-top: 50px;
    }
    .top-header-text h1{
        font-size: 34px; 
        line-height:40px;
    }
    /* player section */
    .all-players{ 
        grid-template-columns: repeat(1,1fr); 
    }
    /* Coach section */
    .coaches{ 
        grid-template-columns: repeat(1,1fr); 
       
    }
    .single-coach img{
        width: 140px;
        height: 140px; 
    }
    .single-coach{
        margin-bottom: 30px;
    }
    /* Blog-section */
    .blogs{ 
        grid-template-columns: repeat(1,1fr); 
    }
    .blog-img img{
        width: 80%;
        height: 270px;
        display: inline-block;
        padding: 20px;
        border-radius:30px;
    }
}
@media only screen and (min-width:592px) and (max-width:992px){
    .top-header {
        overflow: hidden;
        height: auto;
    }
    .top-header .container{ 
        grid-template-columns: repeat(1,1fr);
    }
    .top-header-text h1{
        font-size: 45px; 
        line-height:45px;
    }
    .top-header-text{
        margin-top: 40px;  
    }  
    /* players */
    .all-players,.coaches{ 
        grid-template-columns: repeat(2,1fr); 
        
    }
}