/* -----------------------
         Google Font 
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* ----------------------
    Common Useful Component 
-------------------------*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin:0 auto;
}
/* ----------------
       Top header 
-------------------- */
.top-header{
    height: 95vh;
    background-color: #2D25A0;
}
.top-header .container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.top-header-text{
    margin-top: 200px; 
    color:#fff
} 
.top-header-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height:80px;
}
button{
    background-color: #E02C6D;
    border:none;
    color:#fff;
    padding:10px 24px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    transition:1s;
}
button:hover{
    background-color: #fff;
    color:#E02C6D; 
}
.fa-arrow-right{
    padding-left: 5px;
}
button:hover .fa-arrow-right{
    padding-left: 13px;
    transform: scale(1.3);
    transition:1s; 
}
.top-header-image img{
    width: 100%;
    margin-top: 100px;
}
/* --------------------------
          main section
------------------------------ */
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
.main-players-section{
     padding:40px 0; 
}
.single-player{
    margin-top: 30px;
    box-shadow: 0 3px 25px #ddd;
    padding:15px;
    border-radius:5px;
}
.single-player h2{
    font-size: 28px;
    font-weight: 700;
    margin:16px 0;
}
.single-player p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    color:#6C6C6C;
}
.single-player img{
    width: 100%;
}
/* ------------------------
    footer-items
--------------------------- */
.footer-items{
    text-align: center;
    padding:40px 0;
}
.social-icon{
    margin:20px 0;
}
.social-icon a{
    color:#969BAB;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #ddd;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}
.social-icon a:hover{
    background-color: #E02C6D;
    color:#fff;
}
.footer-items p{
    color:#6C6C6C;
}